<!--form handling-->
<form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Nome</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Digite seu nome...">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="gender" class="text-light">Gênero</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Masculino">
                <label for="radio-2" class="radio-label">Masculino</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Feminino">
                <label for="radio-3" class="radio-label">Feminino</label>
            </div>
        </div>

        <div class="form-group">
            <label for="gender" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Ativo">
                <label for="radio-4" class="radio-label">Ativo</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="Inativo">
                <label for="radio-5" class="radio-label">Inativo</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Salvar</button>
        </div>
        
    </div>
</form>